<!DOCTYPE html>
<html lang="fr">
<head>
{% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}" />
	<title> annonce n° {{annonce.numero}}</title>
</head>


<body>
<div class="background">

<h1> Voici l'annonce proposée par {{annonce.annonceur}} le {{annonce.date|date:"DATE_FORMAT"}} </h1>
<img src="{{profil_annonceur.photo.url }}" width="10%" heigth="10%"/>


<p> A {{ annonce.lieux}} </p>

<p> Payé {{annonce.prix}} €</p>



{% if Bool %}
	
	<p> Possibilité de trajet jusuqu'à {{annonce.distance_max}} </p>

{% endif %}

<p>	Description : {{annonce.annonce}} </p>

{% if annonce.postulant == None %}

<a href="{% url "modifier_annonce" numero%}">Modifiez cette annonce</a></br>
<a href="{% url "supprimer_annonce" numero%}">Supprimez cette annonce</a>

{% else %}
    {% if annonce.postulant == request.user.username %}
        {% if annonce.etudiant == '' %}
            <p> Vous avez postulé pour cette annonce! </p>
            <p> Message : {{ annonce.message_postulant}} </p>
            <a href="{% url "annuler_annonce" numero%}">Annuler votre demande de réservation</a></br>
        {% elif annonce.etat == "en_cours" %}
            <p> Votre demande a été acceptée. Il vous faut maintenant effectuer cette annonce! </p>
            <p> Contactez {{annonce.annonceur}} : {{user_annonceur.email}} </p>
            <a href="{% url "annuler_annonce" numero%}">Annuler votre demande de réservation</a></br>
        {% else %}
            <p>Vous avez bien effectué cette annonce</p>
        {% endif %}
    {% elif annonce.etudiant == '' %}
        
        <p> {{ annonce.postulant}} a postulé pour cette annonce! </p>
        <p> Message : {{ annonce.message_postulant}} </p>
        <a href="{% url "accepter_annonce" numero%}">Accepter</a></br>
        <a href="{% url "refuser_annonce" numero%}">Refuser</a></br>
    {% elif annonce.etat == "en_cours" %}
        <p> Vous avez accepter que {{ annonce.postulant}} effectue cette annonce!</br>Contactez le : {{user_etudiant.email}}</p>
        <p> Message : {{ annonce.message_postulant}} </p>
        <a href="{% url "annuler_annonce" numero%}">Annuler</a></br>
        <a href="{% url "annonce_effectuee" numero%}">L'annonce a bien été effectuée</a></br>
    {% else %}
        <p> {{ annonce.postulant}} a bien effectué cette annonce! </p>
    {% endif %}
{% endif %}



</div>
</body>
</html>

