<!DOCTYPE html>
<html lang="fr">
<title>
<h1> Voici toutes nos annonces ! </h1>

</title>
<body>

{% load static %}
<img src="{% static 'img/backgrounds-list-annonce.png' %}" alt="Mon image" ></code> 

{% for annonce in annonces.objects.order_by('date') %}
	<ul>
	<h3> {{  annonce.titre }} </h3>
	<h2> Annonce proposée par {{annonce.annonceur}} le {{ annonce.date|date:"DATE_FORMAT"}}
	</h2>
	<p> {{annonce.annonce|truncatewords_html:80 }}
	<p> <a href="{url 'lire_annonce' annonce.numero }"> Lire l'annonce. </a>
	</ul>	

</body>
</html> 


	