<!DOCTYPE html>
<html lang="fr">

  <head>
  	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}

      <link rel="stylesheet" href="{% static 'css/specificStyle.css' %}" >
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <title>{% block title %}Annonces{% endblock %}</title>
      <!-- 
      var screen=document.getElementById('niark');
      var screenWidth = parseFloat(window.getComputedStyle(screen).width),
      screenHeight = parseFloat(window.getComputedStyle(screen).height);
      -->
  </head>

<body>


<div class="container-fluid" id="container-etudiant">

  <div class="row">
    <div class="col-md-12">

    	  <nav class="navbar navbar-default" id="etudiant-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="{% static 'img/logo.png' %}" alt="mon image" id="brandimage">
            </a>
            <a class="navbar-brand" href="/" id="etudiant-title">Adopte un étudiant</a>
          </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="nav-list">
              <li>
                <a href="/"><span class="glyphicon glyphicon-home"></span>Accueil</a>
              </li>
              <li>
                <a href="/annonces"><span class="glyphicon glyphicon-tags"></span>Voir les annonces</a>
              </li>
              {% if not request.user.is_authenticated %}
              <li>
                <a href="/inscription" ><span class="glyphicon glyphicon-pencil"></span>Inscription</a>
              </li>
              <li>
                <a href="/connexion"><span class="glyphicon glyphicon-log-out"></span>Connexion</a>
              </li>
              {% else %}
              <li>
                <a href="/proposer_annonce"><span class="glyphicon glyphicon-cloud-upload"></span>Proposer une annonce</a>
              </li>
              <li>
                <a href="/voir_annonces_perso/a_faire"><span class="glyphicon glyphicon-eye-open"></span>Voir vos annonces</a>
              </li>
              <li>
                <a href="/profil"><span class="glyphicon glyphicon-user"></span>Profil</a>
              </li>
              <li>
              	<a href="/deconnexion"><span class="glyphicon glyphicon-log-out"></span>Deconnexion</a>
              </li>
              {% endif %}

            </ul>
          </div><!-- /.navbar-collapse -->

        </div>
      </nav>

      </div><!-- col12 -->
    </div><!-- row -->


	<!-- affichage des annonces -->

	<div class="row">
      <div class="col-md-3"></div>
			<div class="col-md-6">
				<h1 class="lobster">Liste des annonces</h1>
			</div>
      <div class="col-md-3"></div>
  </div>

		{% for annonce in annonces %}

					<div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ annonce.titre }}</h3>
                </div>
                <div class="panel-body">
                  <b>Description : {{annonce.annonce|truncatechars:40 }}</b><br/>
                  Prix : {{ annonce.prix }} € <br/>
                  Lieux : <span class="label label-info">{{ annonce.lieux }}</span><br/>
                </div>
                {% if request.user.is_authenticated %}
                <div class="panel-footer">
                  <a href="{% url "lire_annonce" annonce.numero%}" class="btn btn-primary btn-xs">Voir cette annonce</a>
                </div>
                {% endif %}
              </div>

            </div>
            <div class="col-md-3"></div>
					</div>
		{% endfor %}
</div>
</body>
</html>


