<!DOCTYPE html>
<html lang="fr">
  
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />

</head>


<body>

<div class = "background"> 

<img src="{{profil.photo.url }}" width="10%" heigth="10%"/>
<a href="/modifier_photo/">Modifier votre photo</a>

<br>Pseudo : {{ profil.user.username }}</br>
<br>Nom : {{ profil.user.last_name }}</br>
<br>Prénom : {{ profil.user.first_name }}</br>
<br>email : {{ profil.user.email }}</br>
<br>age : {{ profil.age }} ans</br>
{% if profil.is_student %}
<br>Etudie à {{ profil.ecole }}</br>
{% endif %}
<br>Description : {{ profil.description }}</br>

<a href="/modifier_profil/">Modifier</a>



</body>

</html>
