/*.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-brand img {
	height: 60px;
}*/

a.navbar-brand {
	height: auto;
}

#brandimage {
	height: 60px;
}

#nav-list > li > a {
	line-height: 60px;
	color: white;
}
.navbar-header > a {
	line-height: 60px;
	color: white;
	font-family: 'Lobster', Arial;
	font-size: 30px;
}

#etudiant-navbar,
div.navbar-header>a.navbar-brand {
	background-color: #87b5ff;
	color: white;
}

nav#etudiant-navbar span.glyphicon {
	font-size: 15px;
	margin-right: 10px;
}

nav#etudiant-navbar li {
	vertical-align: middle;
}