<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Accueil{% endblock %}</title>

</head>

<body>

{% load static %}
<img src="{% static 'img/logo.png' %}" alt="Mon image" ></code> 


<header>{% block header %}Accueil{% endblock %}</header>

    <nav>

       {% block nav %}

       <ul>

            <li><a href="/">Accueil</a></li>

            <li><a href="/inscription/">Inscription</a></li>
            
            <li><a href="/annonces/">Voir les annonces</a></li>
            
            <li><a href="/proposer_annonce/">Proposez une annonce</a></li>

       </ul>

       {% endblock %}

   </nav>

   <section id="content">

       {% block content %}
            <li><a href="/connexion/">Connexion</a></li>
            {% endblock %}

   </section>

<footer>&copy; Adopte un étudiant</footer>

</body>

</html>
